<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div layout:fragment="content">
  <h1 class="text-center mt-3">Edycja filmu</h1>
  <hr/>
  <div class="row mt-1">
    <div class="col-12">
      <form action="#" th:action="@{/movie/save}" th:object="${movie}"
            method="post">
        <div class="form-group">
          <label for="movie-id">Id</label>
          <input class="form-control" type="text" th:field="*{id}"
                 readonly="readonly" id="movie-id" />
        </div>
        <div class="form-group">
          <label for="movie-title">Tytuł</label>
          <input class="form-control" type="text" th:field="*{title}"
                 id="movie-title" />
          <div th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}"
               class="invalid-feedback d-block">
            Proszę uzupełnić to pole.
          </div>
        </div>
        <div class="form-group">
          <label for="movie-release-year">Rok wydania</label>
          <input class="form-control" type="text"
                 th:field="*{releaseYear}" id="movie-release-year" />
          <div th:if="${#fields.hasErrors('releaseYear')}"
               th:errors="*{releaseYear}"
               class="invalid-feedback d-block">
            Proszę uzupełnić to pole.
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2 text-right">
          Zapisz
        </button>
      </form>
    </div>
  </div>
</div>
</html>